@import url('https://fonts.googleapis.com/css2?family=Festive&family=Great+Vibes&family=Lobster&family=Redressed&family=Satisfy&family=ZCOOL+QingKe+HuangYou&display=swap');
*,
::before,
::after{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
    min-height: 100vh;
    background:linear-gradient(rgba(63, 208, 212, 0.4), rgba(0, 0, 0, 0.7)),
    url(./Images/world2.jpg) center/cover no-repeat;
}
.container-section{
    display:flex;
    align-items: center;
    justify-content: center;
}
.heading{
  color:aquamarine;
  text-transform: uppercase;
  margin-top:20px;
  letter-spacing: 0.3rem;
  font-family: 'ZCOOL QingKe HuangYou',
  cursive;
  position:absolute;
  top:0%;
  left:50%;
}
.section-continents{
  position:absolute;
  top:10%;
}
label{
  color:#00ced1;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
select{
  padding:10px 15px;
  background-color: transparent;
  border-color:none;
  background:#e0ffff;
  border-radius: 20px;
  color:#008b8b;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height:1.5;
  text-align:center;
  box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.4);
}
.country-container{
  display:grid;
  grid-template-columns: auto auto auto;
  padding:10px;
}
.countries-display{
  min-height:100vh;
  display:grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  margin-top:150px;
  padding:10px;
}
.displayer img{
  height:100px;
  display:block;
}
